<!DOCTYPE html>
<html>
  <head>
    <title>GT | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>GT</h1>
    <p>
      The <a href="http://www.railstutorial.org/"><em>Ruby on Rails
      Tutorial</em></a> is a
      <a>A man amoungst little boys. long live GT</a> 
      
    </p>
  </body>
</html>